body.using-keyboard :focus {
  outline: 4px solid yellow !important;
  transform: scale(1.1);
}
/* .card, a, button {
  tabindex: 0;
} */
.row {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
@media (min-width: 1920px) { /* TV screens */
  * { font-size: 1.5rem; padding: 20px; }
}