
.detail-container {
  background-color: #141414;
  color: white;
  padding: 20px;
  text-align: center;
}

img {
  max-width: 300px;
}

a {
  background-color: red;
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 24px;
}

a:focus {
  outline: 2px solid yellow;
}